@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.main {
  display: flex;
  position: relative;
  height: 100vh;
  &-pic {
    width: 40%;
    background-color: #e6e6e6;
  }
  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
    &-title {
      font-size: 3rem;
      font-weight: 900;
    }
    &-sub {
      color: #444;
      font-weight: 600;
      font-size: 1.2rem;
      margin-top: 1rem;
    }
  }
}

.menu-icon {
  position: absolute;
  top: 4rem;
  right: 6rem;
  cursor: pointer;
  z-index: 9;
}

.btn-group {
  position: absolute;
  bottom: 4rem;
  right: 6rem;
  display: flex;
  flex-direction: column;
  a {
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #090c9b;
    transition: all ease-in-out 120ms;
    display: flex;
    align-items: center;
    svg {
      fill: #090c9b;
      height: 30px;
      width: 25px;
      margin-left: 10px;
    }
    &:hover {
      transform: translateX(4px);
      font-weight: 700;
    }
  }
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  &-overlay-one {
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    z-index: 3;
  }
  &-overlay-two {
    height: 100%;
    width: 100%;
    background-color: #090C8B;
    position: absolute;
    z-index: 4;
  }
  &-overlay-three {
    height: 100%;
    width: 100%;
    background-color: #FBC02D;
    position: absolute;
    z-index: 5;
  }
  &-overlay-four {
    height: 100%;
    width: 100%;
    background-color: #494CEB;
    position: absolute;
    z-index: 6;
  }
  &-content {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: #292CBB;
    display: flex;
    padding: 6rem 2rem;
    justify-content: space-around;
    &-social {
      padding: 2rem 0;
      display: flex;
      align-items: flex-end;
      color: #FFEB3B;
      font-weight: 500;
      display: flex;
      justify-content: space-evenly;
      align-items: flex-start;
      flex-direction: column;
      .btns {
        .btn {
          display: block;
          cursor: pointer;
          height: 150px;
          width: 250px;
          background-color: #eef;
          position: relative;
          margin: 1rem 0;
          border: 2px solid #292CBB;
          transition: all ease-in-out 200ms;
          &:hover {
            border: 2px solid #090C9B;
            .arrow {
              transform: translateX(5px);
            }
          }
          .arrow {
            position: absolute;
            right: 1rem;
            color: #212121;
            font-size: 2rem;
            transition: all ease-in-out 200ms;
            svg {
              width: 25px;
            }
          }
          .wrapper {
            position: absolute;
            bottom: 0;
            padding: 1rem;
            svg {
              height: 2rem;
              width: 2rem;
              position: relative;
              bottom: 0.5rem;
            }
            .title {
              font-size: 1.2rem;
              font-weight: 700;
              color: #161616;
              margin-bottom: 0.5rem;
              display: block;
            }
            .des {
              display: block;
              font-size: 0.8rem;
              color: #464646;
            }
          }
        }
      }
    }
    &-nav {
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      a {
        font-size: 3rem;
        text-decoration: none;
        color: #FFEB3B;
        font-weight: 800;
        margin-top: 1rem;
        transition: all ease-in-out 150ms;
        display: flex;
        align-items: center;
        svg {
          fill: #FFEB3B;
          height: 2.5rem;
          width: 4rem;
          transition: all ease-in-out 150ms;
        }
        &:hover {
          color: #FBC02D;
          transform: translateX(5px);
          svg {
            transform: translateX(-5px);
            fill: #FBC02D;
          }
        }
      }
    }
  }
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 70%;
  margin: 0 auto;
  .title {
    text-align: center;
    font-weight: 800;
    margin-top: 2rem;
  }
}
