.contact-wrapper{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    .form-wrapper{
        padding: 0 4rem;
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        .fta{
            grid-column: 1/ span 2;
            display: flex;
            flex-direction: column-reverse;
        }
        .fi{
            display: flex;
            flex-direction: column-reverse;
        }
        .form-warn{
            grid-column: 1/ span 2;
            font-size: 0.8rem;
            font-weight: 500;
            a{
                text-decoration: none;
                color: #292CBB;
            }
        }
        .send-btn{
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 1rem;
            grid-column: 1/ 2;
            &:disabled{
                background-color: #868686;
            }
        }
        input, textarea{
            font-family: 'Montserrat';
            width: 100%;
            display: block;
            border: none;
            padding: 0.8rem 1rem;
            border-radius: 4px;
            margin-top: 0.5rem;
            background-color: #e6e6e6;
            resize: none;
            &:focus{
                outline:none;
            }
            &:focus + label {
                color: #292CBB;
            }
        }
        textarea{
            height: 200px;
        }
        label{
            display: block;
            font-size: 0.8rem;
            font-weight: 600;
            transition: all ease-in-out 120ms;
        }
    }
    .info-wrapper{
        background-color: #161616;
        border-radius: 6px;
        color: white;
        display: flex;
        flex-direction: column;
        padding: 1rem 2rem;
        justify-content: space-evenly;
        .isec{
            .ist{
                display: block;
                letter-spacing: 2px;
                text-transform: uppercase;
                font-size: 0.8rem;
                font-weight: 600;
                margin: 0.5rem 0;
                color: #868686;
                cursor: default;
                display: flex;
                align-items: center;
                svg{
                    fill: #868686;
                    height: 1rem;
                    width: 1rem;
                    margin-right: 0.5rem;
                }
            }
            .isd{
                color: #e6e6e6;
            }
            .icons-bar{
                padding:  0.8rem 1rem;
                background-color: #262626;
                border-radius: 8px;
                display: flex;
                align-items: center;
                a{
                    margin: 0;
                    padding: 0;
                    text-decoration: none;
                    transition: all ease-in-out 120ms;
                    display: flex;
                    svg{
                        fill: #e6e6e6;
                        margin-right:1rem;
                    }
                    &:hover{
                        svg{
                            fill: #fff;
                        }
                    }
                }
            }
        }
    }
}


.thank-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}